* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: #0d0f0f;
    font-size: 1em;
    line-height: 1.5;
  }
  .navbar {
  background-color: white;
    display: flex;
  }
  .navbar-brand .navbar-item {
    color: #021315;
  }
  .home {
    text-decoration: none;
    text-align: center;
  }
  #socials {
    font-size: large;
    text-decoration: none;
  } 
  #contact {
    font-size: x-large;
  }
  .title {
    font-family: 'Kanit', sans-serif;
    margin-top: 50px;
    margin-right: 70px;
    text-align: end;
  }
  .text {
    margin: 60px 70px 20px 70px;
  }
  .idea {
    margin-top: 60px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }